/* tablette */

@media (min-width: 760px) and (max-width: 1240px) {
    body {
        width: 100%;
        margin: auto;
    }
    #container {
        max-width: 100%;
        margin: auto;
    }
    .main {
        height: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        width: 100%;
    }
   
    .header-top {
        position: relative;
        margin-right: 0;
        height: auto;
        margin-top: 20px;
        display: block;
        text-decoration: none;
    }
    .header-top .menu {
        text-align: center;
        flex-wrap: wrap-reverse;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .header-top nav {
        margin-top: -60px;
    }
    .header-top .menu li:nth-child(1) {
        padding-bottom: 10px;
        border-bottom: 3px solid #9a9a9a;
    }
    .header-top .menu li:nth-child(2) {
        padding-bottom: 10px;
        border-bottom: 3px solid #9a9a9a;
    }
    .header-top .menu li:nth-child(1):hover {
        transition: 0.2s;
        border-bottom: 3px solid #0065fc;
        color: #0065fc;
    }
    .header-top .menu li:nth-child(2):hover {
        transition: 0.2s;
        border-bottom: 3px solid #0065fc;
        color: #0065fc;
    }
    .header-top .menu li:nth-child(3) {
        margin-bottom: 30px;
        text-align: right;
    }
    .header-top .menu li {
        width: 50%;
    }
    .header-top .menu a {
        font-size: 18px;
    }
    .header-top .menu a:hover {
        border-top: none;
    }
    
    .icon-search {
        display: inline-block;
        cursor: pointer;
        text-align: center;
        position: absolute;
        margin-left:100px;
        height: 25px;
        width: 25px;
        opacity: 1;
        color: white;
        background-color: #0065fc;
        border-radius: 10px 10px 10px 10px;
    }
    input.btn-search{
        display: inline-block;
        font-size: 14px;
    }
    form .btn-reset {
        width: 40px;
        opacity: 0;
        background-color: #0065fc;
        cursor: pointer;
        border-radius: 0px 10px 10px 0px;
    }
    .filtres {
        display: flex;
        align-items: center;
        margin: 25px 0 20px 0;
        padding: 10px;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .filtres-selection{
        margin: 10px;
    }

    #hebergement {
        width: 100%;
        border-radius: 0 0 15px 15px;
    }
    .hebergements h2{
     margin-bottom: -20px;
    }
   
    .hebergement-marseille{
        flex-direction: column;
        height: 500px;
        max-width: 600px;
    }
   
    .hebergement-marseille p {
        font-size: 12px;
    }

    .figure-img1{
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 400px;
    }
    .figure-img2{
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 400px;
    }
    .figure-img3{
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 400px;
    }
    .figure-img4{
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 400px;
    }
    .figure-img5{
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 400px;
    }
    .figure-img6{
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 400px;
    }

    .hebergement-plus  {
        font-size: 18px;
        margin: 0 0 50px 0;
    }
    .hebergement-grille {
        margin: 200px 0;
        width: 100%;
        height: 800px;
        display: flex;
        align-content: center;
    }
   
    .populaire-grille figure:hover {
        transform: none;
    }
    .hebergement-grille figure:hover {
        transform: none;
    }
    .activite-carte-simple:hover {
        transform: none;
    }
    .activite-carte1:hover {
        transform: none;
    }
    .activite-carte1-1:hover {
        transform: none;
    }
    .activite-carte2:hover {
        transform: none;
    }
    #populaire {
        height: auto;
        width: 100%;
        padding: 0;
        border-radius: 15px 15px 0 0;
    }
    #populaire h2{
        margin-left: 40px;
    }
    .populaire {
        width: 95%;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 0 10px;
        margin: auto;
    }
    .populaire-details h3 {
        font-size: 20px;
        font-weight: bolder;
    }
    .populaire-details p {
        font-size: 16px;
    }
    .populaire-grille {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
 
    .populaire-grille figure {
        width: 90%;
        height: 200px;
    }
    .populaire-titre {
        padding-left: 10px;
    }
    
    .populaire-marseille img {
        width: 100%;
        height: 200px;
    }
    .activites {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        margin-top: 20px;
        margin-bottom: 60px;
        align-items: center;
    }

    footer ul {
        padding-left: 100px;
        margin-top: 20px;
        margin-bottom: 30px;
        list-style: none;
    }
}

/* mobile */
@media (max-width: 760px) {
    body {
        width: 100%;
        margin: auto;
    }
    #container {
        max-width: 100%;
        padding: 0;
        margin: auto;
    }
    header{
        padding-right:10px;
        padding-left: 10px;
    }
    .main {
        display: flex;
        flex-direction: column-reverse;
        height: auto;
    }
    #hebergement {
        background: none;
        width: 95%;
        border-radius: 18px;
        text-transform: none;
    }
    .hebergement-plus a {
        margin-top: 10px;
    }
    .header-top {
        position: relative;
        display: block;
        margin-bottom: 35px;
        height: auto;
    }
    .header-top nav {
        margin-top: -60px;
    }
    .header-top .menu li:nth-child(1) {
        padding-bottom: 10px;
        border-bottom: 3px solid #9a9a9a;
    }
    .header-top .menu li:nth-child(2) {
        padding-bottom: 10px;
        border-bottom: 3px solid #9a9a9a;
    }
    .header-top .menu li:nth-child(1):hover {
        transition: 0.2s;
        border-bottom: 3px solid #0065fc;
        color: #0065fc;
    }
    .header-top .menu li:nth-child(2):hover {
        transition: 0.2s;
        border-bottom: 3px solid #0065fc;
        color: #0065fc;
    }
    .header-top .menu li:nth-child(3) {
        text-align: right;
        margin-bottom: 30px;
    }
    .header-top .menu {
        text-align: center;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        text-decoration: none;
        flex-wrap: wrap-reverse;
    }
    .header-top .menu li {
        width: 50%;
    }
    .header-top .menu a.inscription {
        margin-right:15px;
    }
    .header-top .menu a {
        font-size: 18px;
        margin-right:0;
    }
        .header-top .menu a:hover {
        border-top: none;
    }
    .header-banniere{
        width: 100%;
        margin: auto;
        margin-bottom: 20px;
    }
        /* Barre recherches */
    .fa-search:before{
        line-height: 25px;
    }
    .icon-search {
        cursor: pointer;
        display: inline-block;
        position: initial;
        opacity: 1;
        color: white;
        height: 25px;
        width: 25px;
        text-align: center;
        background-color: #0065fc;
        border-radius: 10px 10px 10px 10px;
    }
    input.btn-search{
        display: inline-block;
        width: 75%;
        font-size: 16px;
    }
    form .btn-reset {
        display: none;
    }
        /* Filtres */
    .filtres {
        align-items: center;
        margin: 25px 0 20px 0;
    }
    .filtres h3{
       width: 100%;
    }
    .filtres-selection{
        margin: 10px;
        margin-left: 0;
    }
    .hebergements h2 {
        margin-top: 40px;
        font-size: 20px;
        font-weight: bolder;
    }
        /* Hébergements */
    .hebergement-grille {
        text-transform: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        margin: auto;
        align-content: center;
    }
    .hebergement-grille figure {
        padding: 5px 5px 12px 5px;
        width: 100%;
        margin-right: 20px;
        margin-bottom: 25px;
        background-color: white;
        box-shadow: 2px 4px 15px -1px #9a9a9a;
        border: 1px white solid;
        border-radius: 20px;
        transform: scale(1);
        transition: 0.2s ease-in-out;
    }
    .hebergement-grille a{
        width: 100%;
        margin: auto;
    }
        /* Populaires */
    #populaire {
        padding: 0;
        background-color: #f2f2f2;
        border-radius: 0;
        width: 100%;
        text-transform: none;
    }
    #populaire h2{
        padding-right: 10px;
        margin-left: 20px;
    }
    .populaire {
        width: 100%;
        background-color: #f2f2f2;
        margin: 0;
        padding: 0;
    }
    .populaire-details h3 {
        font-size: 16px;
    }
    .populaire-details p {
        font-size: 14px;
        padding: 0;
    }
    .populaire-titre {
        margin-left: 50px;
        display:flex;
        flex-direction:row;
        flex-wrap: wrap;
      
    }
    .populaire-marseille a {
        display: flex;
        flex-direction: row;
        height: 100%;
        justify-content: flex-start;
    }
    .populaire-grille figure:hover {
        transform: none;
    }
    .hebergement-grille figure:hover {
        transform: none;
    }
    #activite{
        width: 95%;
    }
    #activite h2{
        margin-left: 4%;
    }
    .activite-carte-simple:hover {
        transform: none;
    }
    .activite-carte1:hover {
        transform: none;
    }
    .activite-carte1-1:hover {
        transform: none;
    }
    .activite-carte2:hover {
        transform: none;
    }
    .activites {
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: auto;
        padding-left: 10px;
        margin: auto;
    }
    .activites figure {
        width: auto;
        margin-bottom: 20px;
    }
    .activites .activite-carte-simple {
        width: 100%;
        height: 200px;
        margin-bottom: 20px;
    }
    .activite-grande-carte {
        display: flex;
        overflow: hidden;
        flex-direction: column;
        height: 220px;
        width: 100%;
    }
    .activite-grande-img img {
        width: 100%;
        object-fit: cover;
    }
    .activite-grande-img {
        display: flex;
        align-items: center;
        overflow: hidden;
    }
    .activite-carte-double2 {
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        align-items: center;
    }
    .activite-carte-double {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    .activite-moyenne-img img {
        height: 150px;
    }
    .activite-grande-carte p {
        font-size: 16px;
        padding-bottom: 10px;
    }
    .activite-moyenne-carte .activite-carte-titre {
        padding-top: 0;
    }
    .activite-carte1 {
        margin-bottom: 20px;
        width: 100%;
        height: 200px;
    }
    .activite-petite-img img {
        height: 150px;
    }
    .activite-petite-carte .activite-carte-titre {
        padding-top: 0;
        font-size: 16px;
    }
    .activite-carte1-1 {
        margin-bottom: 20px;
        width: 100%;
        height: 200px;
    }
    .activite-carte2 {
        margin-bottom: 20px;
        width: 100%;
        height: 200px;
    }
    .activite-petite-carte p {
        padding: 10px 0 30px 15px;
        font-size: 20px;
    }
    .activite-moyenne-carte p {
        padding: 10px 0 30px 15px;
        font-size: 16px;
    }
    footer {
        background-color: #f2f2f2;
        display: flex;
        align-items: flex-start;
        margin: 0;
        bottom: 0px;
        left: 0px;
        width: 100%;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .footer-titre {
        font-size: 16px;
    }
    footer li {
        font-size: 14px;
        padding-bottom: 10px;
    }
    footer ul {
        padding-left: 30px;
        margin-bottom: 0%;
    }
}