@font-face {
    font-family: "Raleway";
    src: url("./Fonts/Raleway/Raleway-VariableFont_wght.ttf");
    font-weight: 100 1000;
}

/* HEADER */
body,
html {
    color: black;
    margin: auto;
    font-family: "Raleway", sans-serif;
    position: relative;
}

a:hover {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}

header .Menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

header li {
    list-style: none;
}

#container {
    max-width: 1330px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.Logo {
    padding-top: 10px;
}

.header-top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 35px;
    margin-bottom: 35px;
}

.header-top .Menu {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-decoration: none;
}

.header-top .Menu a {
    text-decoration: none;
    padding-top: 50px;
    margin-right: 50px;
    font-size: 16px;
}

.header-top .Menu a:hover {
    border-top: 2px solid #0065fc;
    color: #0065fc;
}

.Inscription {
    color: #0065fc;
    font-weight: bolder;
}

/* HEADER'S TITLE */

.titre {
    margin-bottom: 15px;
}

.titre p {
    margin-top: 8px;
    font-size: 16px;
}

.titre h1 {
    font-size: 22px;
}

/* HEADER'S SEARCHBAR */

.Search {
    display: flex;
}

.form-btn {
    display: flex;
}

.Search input {
    border: none;
    padding: 0 10px 0 10px;
    width: 132px;
}
.icone-localisation {
    padding: 10px;
    padding-left: 10px;
    background-color: #f2f2f2;
    border-radius: 15px 0px 0px 15px;
    width: 30px;
    height: 30px;
    font-size: 18px;
}

.fa-map-marker-alt{
    padding-top: 5px;
    padding-left: 10px;
}

.Search input {
    height: 50px;
    border: none;
    padding: 0 10px 0 10px;
}

input.btn-search{
    height: auto;
    width: 213px;
    border: 1px solid #f2f2f2;
}

input.btn-search:focus{
    outline: none;
}

.icon-search {
    display: none;
    position: absolute;
    left: 208px;
    opacity: 1;
    color: white;
    padding: 12px ;
    background-color: #0065fc;
    border-radius: 0 15px 15px 0;
}

.btn-search {
    font-size: 18px;
    cursor: pointer;
    font-weight: bolder;
}

.btn-reset {
    font-size: 18px;
    color: white;
    background-color: #0065fc;
    cursor: pointer;
    border-radius: 0px 15px 15px 0px;
}

/* HEADER'S FILTERS */

.filtres {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 25px 0 20px 10px;
}

.filtres h3 {
    margin-right: 50px;
    font-size: 18px;
    font-weight: bolder;
}

.filtres-texte {
    font-size: 18px;
    font-weight: bolder;
    padding: 0 10px;
}

.filtres-selection {
    height: 50px;
    border: 2px solid #d4d4d4;
    border-radius: 30px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 10px 0 0;
}

.filtres-selection:hover {
    cursor: pointer;
    background-color: #deebff;
    transition: all .3s ease-in-out;
}

.filtres-selection:hover i {
    background-color: #0065fc;
    color: white;
    transition: all .3s ease-in-out;
}

.filtres-icons {
    border-radius: 25px;
    width: 52px;
    height: 52px;
    color: #0065fc;
    background-color: #deebff;
    margin-left: -2px;
}

.filtres-selection i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filtres-texte {
    padding: 0 5px;
}

/* HEADER'S BANNER */

.header-banniere {
    display: flex;
    align-items: center;
    font-size: 60%;
    margin-bottom: 25px;
}

.header-banniere i {
    color: #0065fc;
}

.icon i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    border: 1px solid #dcdee0;
    margin: 0 5px 0 0;
}

.header-banniere p {
    font-size: 16px;
    font-weight: 500;
}