@font-face {
    font-family: "Raleway";
    src: url("./Fonts/Raleway/Raleway-VariableFont_wght.ttf");
    font-weight: 100 1000;
}

/* HEADER */
body,
html {
    color: black;
    margin: auto;
    font-family: "Raleway", sans-serif;
    position: relative;
}

a:hover {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}