@font-face {
    font-family: "Raleway";
    src: url("../font/raleway/Raleway-VariableFont_wght.ttf");
    font-weight: 100 1000;
}

/* header */
body,
html {
    color: black;
    margin: auto;
    font-family: "Raleway", sans-serif;
    position: relative;
}
a:hover {
    text-decoration: none;
}
a {
    text-decoration: none;
    color: black;
}
header .menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}
header li {
    list-style: none;
}
#container {
    max-width: 1330px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}
.logo {
    padding-top: 10px;
}
.header-top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 35px;
    margin-bottom: 35px;
}
.header-top .menu {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-decoration: none;
}
.header-top .menu a {
    text-decoration: none;
    padding-top: 53px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 50px;
    font-size: 16px;
}

.header-top .menu a:hover {
    border-top: 2px solid #0065fc;
    color: #0065fc;
}
.inscription {
    color: #0065fc;
    font-weight: bolder;
}

/* titre */
.titre {
    margin-bottom: 15px;
}
.titre p {
    margin-top: 8px;
    font-size: 16px;
}
.titre h1 {
    font-size: 22px;
}

/* recherche */
.recherche {
    display: flex;
}

.form-btn {
    display: flex;
}

.recherche input {
    border: none;
    padding: 0 10px 0 10px;
    width: 132px;
}
.icone-localisation {
    padding: 10px;
    padding-left: 10px;
    background-color: #f2f2f2;
    border-radius: 15px 0px 0px 15px;
    width: 30px;
    height: 30px;
    font-size: 18px;
}
.fa-map-marker-alt{
    padding-top: 5px;
    padding-left: 10px;
}
.recherche input {
    height: 50px;
    border: none;
    padding: 0 10px 0 10px;
}
input.btn-search{
    height: auto;
    width: 213px;
    border: 1px solid #f2f2f2;
}
input.btn-search:focus{
    outline: none;
}
.icon-search {
    display: none;
    position: absolute;
    left: 208px;
    opacity: 1;
    color: white;
    padding: 12px ;
    background-color: #0065fc;
    border-radius: 0 15px 15px 0;
}
.btn-search {
    font-size: 18px;
    cursor: pointer;
    font-weight: bolder;
}
.btn-search::placeholder{
    color:black;
}
.btn-reset {
    font-size: 18px;
    color: white;
    background-color: #0065fc;
    cursor: pointer;
    border-radius: 0px 15px 15px 0px;
}

/* filtre */
.filtres {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 25px 0 20px 10px;
}
.filtres h3 {
    margin-right: 50px;
    font-size: 18px;
    font-weight: bolder;
}
.filtres-texte {
    font-size: 18px;
    font-weight: bolder;
    padding: 0 10px;
}
.filtres-selection {
    height: 50px;
    border: 2px solid #d4d4d4;
    border-radius: 30px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 10px 0 0;
}
.filtres-selection:hover {
    cursor: pointer;
    background-color: #deebff;
    transition: all .3s ease-in-out;
}
.filtres-selection:hover i {
    background-color: #0065fc;
    color: white;
    transition: all .3s ease-in-out;
}
.filtres-icons {
    font-size: 20px;
    border-radius: 25px;
    width: 52px;
    height: 52px;
    color: #0065fc;
    background-color: #deebff;
    margin-left: -2px;
}
.filtres-selection i {
    display: flex;
    justify-content: center;
    align-items: center;
}
.filtres-texte {
    padding: 0 5px;
}

/* bannière */
.header-banniere {
    display: flex;
    align-items: center;
    font-size: 60%;
    margin-bottom: 25px;
}
.header-banniere i {
    color: #0065fc;
}
.icon i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    border: 1px solid #dcdee0;
    margin: 0 5px 0 0;
}
.header-banniere p {
    font-size: 16px;
    font-weight: 500;
}

/* main */
.main {
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

/* hebergement */
#hebergement {
    width: 65%;
    background-color: #f2f2f2;
    border-radius: 18px;
}
.hebergements {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 95%;
    width: 92%;
    margin: auto;
}
.hebergements h2{
    font-size: 22px;
}
.hebergement-grille figure:hover {
    cursor: pointer;
    transform: scale(1.015);
}
.hebergement-grille a {
    width: 30%;
}
.hebergement-grille figure {
    border-radius: 20px;
    padding: 5px 5px 12px 5px;
    width: 100%;
    margin-bottom: 25px;
    background-color: white;
    box-shadow: 4px 4px 11px -6px #9a9a9a;
    transition: 0.2s ease-in-out;
}
.hebergement-grille {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 0 50px 0;
    justify-content: space-between;
}
.figure-details {
    padding-left: 10px;
}
.figure-details p {
    font-size: 14px;
    color: black;
    margin-left: 1px;
    margin-top: -10px;
}
.figure-details h3{
    margin-top: 10px;
    font-size: 16px;
}
.hebergement-marseille {
    padding: 5px 5px 5px 5px;
    margin: 0;
}
.figure-img1{
    background-image: url("../images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg") ;
    background-size: cover;
    background-position: 25% 75%;
    width: 100%;
    height: 110px;
    border-radius: 20px 20px 0 0;
}
.figure-img2{
    background-image: url("../images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg") ;
    background-size: cover;
    background-position: 25% 75%;
    width: 100%;
    height: 110px;
    border-radius: 20px 20px 0 0;
}
.figure-img3{
    background-image: url( "../images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg") ;
    background-size: cover;
    background-position: 25% 75%;
    width: 100%;
    height: 110px;
    border-radius: 20px 20px 0 0;
}
.figure-img4{
    background-image: url("../images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg") ;
    background-size: cover;
    background-position: 25% 75%;
    width: 100%;
    height: 110px;
    border-radius: 20px 20px 0 0;
}
.figure-img5{
    background-image: url("../images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg") ;
    background-size: cover;
    background-position: 25% 75%;
    width: 100%;
    height: 110px;
    border-radius: 20px 20px 0 0;
}
.figure-img6{
    background-image: url("../images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg") ;
    background-size: cover;
    background-position: 25% 75%;
    width: 100%;
    height: 110px;
    border-radius: 20px 20px 0 0;
}
.hebergement-plus a {
    font-size: 18px;
    font-weight: bolder;
    margin: 0;
    margin-top: -30px;
    display: block;
}
figure h2,p {
    margin: 3px 0 2px 5px;
}
.hebergement-stars {
    font-size: 10px;
   
}
.hebergement-stars i {
    margin-top:5px;
    font-size: 12px;
    color: #0065fc;
}
.hebergement-grille a:nth-child(1) .hebergement-stars i:nth-child(5) {
    color: #e4e4e4;
}
.hebergement-grille a:nth-child(3) .hebergement-stars i:nth-child(5) {
    color:#e4e4e4 ;
}
.hebergement-grille a:nth-child(4) .hebergement-stars i:nth-child(4) {
    color:#e4e4e4 ;
}
.hebergement-grille a:nth-child(4) .hebergement-stars i:nth-child(5) {
    color: #e4e4e4;
}
.hebergement-grille a:nth-child(5) .hebergement-stars i:nth-child(5) {
    color:#e4e4e4 ;
}

/* populaire */
#populaire {
    background-color: #f2f2f2;
    border-radius: 15px 15px 15px 15px;
    padding-right: 10px;
    padding-left: 10px;
    width: 30%;
}
.populaire-titre {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: black;
    margin-top: -40px;
    margin-bottom: 10px;
    font-size: 22px;
}
#populaire h2{
    font-size: 22px;
    margin-left: 30px;
    margin-top: 30px;
}
.populaire {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 10px;
}
.populaire-grille {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}
.populaire-grille figure {
    background-color: #ffffff;
    box-shadow: 4px 4px 11px -6px #9a9a9a;
    cursor: pointer; 
    display: flex;
    max-width: 95%;
    transition: 0.2s ease-in-out;
}
.populaire-grille figure:hover {
    transform: scale(1.015);
}
.populaire-grille a {
    width: 95%;
}
.populaire-marseille {
    padding: 5px;
    border-radius: 20px;
    height: 140px;
    margin: 18px 0;
}
.populaire-details {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.populaire-details h3 {
    font-size: 16px;
    margin-top: 0;
    padding-right: 20px;
    padding-left: 10px;
}
.populaire-details p {
    font-size: 14px;
    margin-top: -30px;
    margin-left: 10px;
}
.fa-chart-line {
    color: black;
    padding-top: 0px;
    padding-right: 10px;
}
.populaire-marseille img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}
.populaire-marseille a {
    display: flex;
    flex-direction: row;
    height: 100%;
}
.populaire-stars {
    color: #0065fc;
    font-size: 10px;
    margin-left: 10px;
}
.populaire-grille a:nth-child(2) .populaire-stars i:nth-child(5) {
    color: #e4e4e4;
}
.populaire-grille a:nth-child(3) .populaire-stars i:nth-child(5) {
    color: #e4e4e4;
}

/* activité */
#activite {
    border-radius: 18px;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
}
.activites {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 550px;
}
.activites figure {
    margin: 0;
    width: 22%;
    height: 450px;
}
.activite-titre {
    margin: 15px 0;
}
#activite h2 {
    font-size: 20px;
    font-weight: bolder;
}
#activite p{
    padding: 10px 0 35px 20px;
    font-size: 16px;
    font-weight: bolder;
}
.activite-carte-simple {
    overflow: hidden;
    background-color: white;
    border-radius: 20px;
    box-shadow: 4px 4px 11px -6px #9a9a9a;
    transition: 0.2s ease-in-out;
}
.activite-carte-simple:hover {
    transform: scale(1.015);
}
.activite-carte-simple img {
    height: 390px;
    object-fit: cover;
    width: 100%;
}
.activite-carte-double {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.activite-carte-double2 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}
.activite-carte1 img {
    width: 100%;
}
.activite-carte1-1 img {
    width: 100%;
}
.activite-moyenne-img img {
    height: 180px;
    max-width: 100%;
    object-fit: cover;
}
.activite-carte1 {
    background-color: white;
    border-radius: 20px;
    box-shadow: 4px 4px 11px -6px #9a9a9a;
    height: 240px;
    overflow: hidden;
    transform: scale(1);
    transition: 0.2s ease-in-out;
}
.activite-carte1-1 {
    background-color: white;
    border-radius: 20px;
    box-shadow: 4px 4px 11px -6px #9a9a9a;
    height: 200px;
    overflow: hidden;
    transition: 0.2s ease-in-out;
}
.activite-carte1:hover, .activite-carte1-1:hover {
    transform: scale(1.015);
}
.activite-carte2 {
    background-color: white;
    border-radius: 20px;
    box-shadow: 4px 4px 11px -6px #9a9a9a;
    overflow: hidden;
    height: 165px;
    transition: 0.2s ease-in-out;
}
.activite-carte2:hover {
    transform: scale(1.05);
}
.activite-petite-carte2 img {
    height: 145px;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}
.activite-petite-carte img {
    height: 110px;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}

/* footer */
footer {
    margin-top:-75px;
    padding-bottom: 50px;
    background-color: #f2f2f2;
    display: flex;
    flex-wrap:wrap;

}
.footer-titre {
    font-weight: bolder;
    margin-bottom: 20px;
    font-size: 18px;
}
footer ul {
    padding-left: 280px;
    margin-top: 20px;
    margin-bottom: 30px;
    list-style: none;
}
footer li {
    font-size: 16px;
    margin-top: 10px;
}